.App{
  min-height: 100vh;
  background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 40%;
  border: none;
  padding: 10px;
  color: rgb(69, 132, 250);
}
.search-button{
  border: none;
  padding: 10px 20px;
  color: rgb(232, 234, 248);
  background-color: blue;
}